@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

.dark-mode {
  background: #222;
  color: #fff;
}

.dark-mode input,
.dark-mode .border-b {
  border-color: #fff;
  background: transparent;
  color: #fff;
}
.dark-mode .score-list:nth-child(even) {
  background-color: #333;
}

.score-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-style: none solid solid solid;
}

#title-score {
  border-top: 1px solid #ccc;
}

.score-list:nth-child(even) {
  background-color: #f9f9f9;
}

